body{
  background-color:#EEEFF3;
}
.main-content {
  background-color: #ffffff;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.home-tabs{
  background-color: #006633;
  color: #fff;
  font-size: 14px;
}
.home-tabs .tab-head{
  padding:10px;
  cursor: pointer;
}
.home-tabs .tab-head.active{
  background-color: #fff;
  color:#006633;
}
.home-tabs-body{
  padding: 10px;
  text-align: left;
}
.depart-date{
  padding-right:8px !important;
}
.return-date{
  padding-left:8px !important;
}
.tab-right{
  text-align: end;
  padding-right:20px;
}
.search{
  background-color: #CA7373 !important;
  padding: 10px !important;
  width: 200px !important;
  color:#fff !important;
  border-radius: 20px !important;
  font-weight: bold !important;
}

.align-center{
  text-align: center !important;
}
.select-left
{
  text-align:left;
}
.error{
  color:#CC0000;
  font-size:13px;
  text-align:left;
  margin-top:5px;
}

.flight-rows{
  background-color: #fff;
  padding:10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.flight-title{
  text-align: left;
  font-size: 22px;
  padding: 10px;
}
.flight-sort{
  text-align: right;
  font-size: 14px;
  padding-top:20px;
}