body{
  background-color:#ffffff;
}
.main-content {
  background-color: #ffffff;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
  padding: 0 !important;
}
.clear{
  clear:both;
}
.home-tabs{
  background-color: #2F576E;
  color: #fff;
  font-size: 14px;
}
.home-tabs .tab-head{
  padding:10px;
  cursor: pointer;
}
.home-tabs .tab-head.active{
  background-color: #fff;
  color:#2F576E;
}
.home-tabs-body{
  padding: 10px;
  text-align: left;
}
.depart-date{
  width: 100% !important;
}
.return-date{
  width: 100% !important;
}
.tab-right{
  text-align: end;
  padding-right:20px;
}
.search{
  background-color: #CA7373 !important;
  padding: 10px !important;
  width: 200px !important;
  color:#fff !important;
  border-radius: 20px !important;
  font-weight: bold !important;
}

.align-center{
  text-align: center !important;
}
.select-left
{
  text-align:left;
}
.error{
  color:#CC0000;
  font-size:13px;
  text-align:left;
  margin-top:5px;
}

.flight-rows{
  background-color: #fff;
  padding:10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.flight-title{
  text-align: left;
  font-size: 22px;
  padding: 10px;
}
.flight-sort{
  text-align: right;
  font-size: 14px;
  padding-top:20px;
}

.pc-menu{
  background-color: #2F576E;
  padding-top:5px;
  padding-bottom:5px;
  width: 100%;
  float: left;
}
.pc-menu .airlogo{
  display: inline-block;
  width: 100px;
}
.pc-menu .airlogo img{
  width:80px;
}
.pc-menu .list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
}
.pc-menu .list li{
  float: left;
  color:#fff;
  padding-right: 20px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
.pc-menu .list li a:hover{
  color:#FFF100;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF100;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}